/* UC-1 */
body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width: 80%;
}

img {
    width: 50px;
    height: auto;
    padding-left: 4px;
    border: solid 0px #42515f;
}

.add-text {
    font: normal normal bold 20px/25px Monteserrat;
    font-family: "Monteserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.add-book{
    color: black;
}

*{
    box-sizing: border-box;
}
/* UC-2 */
.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.content{
    width: 50%;
    padding: 15px 60px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    align-items: center;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    text-align: center;
    font: normal normal normal 17px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.push{
    width: 30px;
    height: auto;
    opacity: 1;
    margin-left: auto;
}
.form-content{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.content{
    width: 50%;
    padding: 15px 60px;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    align-items: center;
}

.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    text-align: center;
    font: normal normal normal 17px/23px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
}

.push{
    width: 30px;
    height: auto;
    opacity: 1;
    margin-left: auto;
}
/* UC-3 */
.form{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form1{
    width: 50%;
    padding: 15px 60px;
    background: white 0% 0% no-repeat;
    opacity: 1;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    align-items: center;
}

.row-content{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.label-text{        
    text-align: left;
    font: normal normal normal 14px/18px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
    text-transform: capitalize;
}

label{
    padding: 12px 12px 7px 0;
    display: inline-block;
}

.input{
    width: 100%;
    padding: 8px;
    resize: vertical;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.input-address{
    width: 100%;
    padding: 8px;
    height: 70px;
    resize: vertical;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    opacity: 1;
}

.row-content-select{
    display: flex;
    justify-content: space-between;
    
}

.place{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* row-gap: 10em; */
}

select{
    width: 150px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal 14px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent ;
}